* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #222;
    height: 100vh;
}
header {
    background-color: rgb(255, 251, 0);
    background-image: url(img/Whats.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 999;
    opacity: 90%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.ab a {
    color: rgb(189, 120, 0);
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 15px;
    transition: 0.25s;
    background-color: rgb(68, 68, 0);
    margin: 0 7px;
    border-radius: 10px;
}
.ab a:hover {
    color: rgb(68, 68, 0);
    background-color: unset;
}
section {
    padding: 150px 100px;
}
.se1 {
    background-color: #1d6533;
}
.nosh {
    display: flex;
    align-items: center;
    justify-content: center;
}
.imge {
    max-width: 1100px;
    border: #fff 1px solid;
}
.rara {
    font-size: 50px;
    text-decoration: none;
    color: #000;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 20px;
}
.ti {
    display: flex;
    justify-content: center;
    color: rgb(0, 171, 238);
    text-transform: uppercase;
    font-family: system-ui;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}
.ch {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cha {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 200px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.50s;
}
.cha:hover {
    transform: scale(1.1);
}
.info h3 {
    color: #0083b7;
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imgimg {
    border-radius: 100px;
    width: 70px;
}
.foot {
    height: 70px;
    color: #fff;
    padding: 25px;
    justify-content: space-between;
    display: flex;
}
.links a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 175, 219);
    margin: 8px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.ssss {
    color: rgb(255, 242, 0);
}
.links a:hover {
    text-decoration: underline;
    color: blueviolet;
}
.fop {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1023px) {
    .ab a {
        font-size: 16px;
        padding: 0 10px;
    }
    .imge {
        max-width: 900px;
        border: #fff 1px solid;
    }
    .sd {
        width: 100%;
        padding: 20px;
    }
    .s h2 {
        font-size: 25px;
    }
    .s h2 span {
        font-size: 35px;
    }
    .aa {
        font-size: 15px;
    }
    .s h3 {
        font-size: 18px;
    }
    .ti {
        font-size: 25px;
    }
    .info h3 {
        font-size: 22px;
    }
    .info p {
        font-size: 14px;
    }
    .foot {
        flex-direction: column;
        align-items: center;
    }
    .links a {
        font-size: 14px;
    }
    .fop {
        font-size: 14px;
    }
    .imgimg {
        width: 55px;
    }
    .nosh {
        flex-direction: row;
        justify-content: center;
    }
    .rara {
        margin-left: 20px;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .ab a {
        font-size: 14px;
        padding: 0 5px;
    }
    .imge {
        max-width: 600px;
        border: #fff 1px solid;
    }
    .sd {
        padding: 15px;
    }
    .s h2 {
        font-size: 22px;
    }
    .s h2 span {
        font-size: 30px;
    }
    .aa {
        font-size: 12px;
        padding: 10px 15px;
    }
    .s h3 {
        font-size: 16px;
    }
    .ti {
        font-size: 20px;
    }
    .info h3 {
        font-size: 19px;
    }
    .info p {
        font-size: 12px;
    }
    .links a {
        font-size: 12px;
    }
    .fop {
        font-size: 12px;
    }
    .imgimg {
        width: 50px;
    }
    .nosh {
        flex-direction: row;
        justify-content: center;
    }
    .rara {
        margin-left: 20px;
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .ab a {
        font-size: 14px;
        padding: 0 3px;
    }
    .sd {
        padding: 10px;
    }
    .imge {
        max-width: 350px;
        border: #fff 1px solid;
    }
    .s h2 {
        font-size: 20px;
    }
    .s h2 span {
        font-size: 25px;
    }
    .aa {
        font-size: 10px;
        padding: 8px 10px;
    }
    .s h3 {
        font-size: 14px;
    }
    .ti {
        font-size: 18px;
    }
    .info h3 {
        font-size: 15px;
    }
    .info p {
        font-size: 10px;
    }
    .links a {
        font-size: 10px;
    }
    .fop {
        font-size: 10px;
    }
    .imgimg {
        width: 30px;
    }
    .nosh {
        flex-direction: column;
        justify-content: center;
    }
    .rara {
        transform: scale(0.5);
    }
}
