* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #1d6533;
    height: 100vh;
    color: #fff;
}
header {
    background-color: rgb(255, 251, 0);
    position: fixed;
    z-index: 999;
    opacity: 90%;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
section {
    padding: 10px 70px;
}
.se1 {
    background-color: #1d6533;
}
.ti {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "Reem Kufi", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.rel{
    border-radius: 100px;
    opacity: 80%;
    transition: 0.50s;
    margin: 0 10px;
}
.rel:hover{
    opacity: 1;
    transition: 0.50s;
}
.ch {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    padding: 50px 10px;
    border-radius: 10px;
    background-image: url(img/titled.png);
    background-position: center;
    background-size: cover;
}
.cha {
    background-color: #fff;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 10px;
    margin: 1px;
    transition: 0.5s;
    color: #000;
}
.cha:hover {
    transform: scale(1.1);
}
.icon {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info {
    margin-left: 150px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info h3 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.price p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00bf20;
}
.imgimg {
    border-radius: 100px;
    width: 70px;
}
.foot {
    height: 70px;
    color: #fff;
    padding: 25px;
    justify-content: space-between;
    display: flex;
}
.links a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 175, 219);
    margin: 8px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.ssss {
    color: rgb(255, 242, 0);
}
.links a:hover {
    text-decoration: underline;
    color: blueviolet;
}
.fop {
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1023px) {
    .ab a {
        font-size: 16px;
        padding: 0 10px;
    }
    .sd {
        width: 100%;
        padding: 20px;
    }
    .s h2 {
        font-size: 25px;
    }
    .s h2 span {
        font-size: 35px;
    }
    .aa {
        font-size: 15px;
    }
    .s h3 {
        font-size: 18px;
    }
    .ti {
        font-size: 25px;
    }
    .info h3 {
        font-size: 22px;
    }
    .info p {
        font-size: 14px;
    }
    .foot {
        flex-direction: column;
        align-items: center;
    }
    .links a {
        font-size: 14px;
    }
    .fop {
        font-size: 14px;
    }
    .imgimg {
        width: 55px;
    }
}

@media (max-width: 768px) {
    .ab a {
        font-size: 14px;
        padding: 0 5px;
    }
    .sd {
        padding: 15px;
    }
    .s h2 {
        font-size: 22px;
    }
    .s h2 span {
        font-size: 30px;
    }
    .aa {
        font-size: 12px;
        padding: 10px 15px;
    }
    .s h3 {
        font-size: 16px;
    }
    .ti {
        font-size: 20px;
    }
    .info h3 {
        font-size: 19px;
    }
    .info p {
        font-size: 12px;
    }
    .links a {
        font-size: 12px;
    }
    .fop {
        font-size: 12px;
    }
    .imgimg {
        width: 50px;
    }
}

@media (max-width: 480px) {
    .ab a {
        font-size: 14px;
        padding: 0 3px;
    }
    .sd {
        padding: 10px;
    }
    .s h2 {
        font-size: 20px;
    }
    .s h2 span {
        font-size: 25px;
    }
    .aa {
        font-size: 10px;
        padding: 8px 10px;
    }
    .s h3 {
        font-size: 14px;
    }
    .ti {
        font-size: 18px;
    }
    .info h3 {
        font-size: 15px;
    }
    .info p {
        font-size: 10px;
    }
    .links a {
        font-size: 10px;
    }
    .fop {
        font-size: 10px;
    }
    .imgimg {
        width: 30px;
    }
}
